/* Fonts from google - Work Sans */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* Common shared styles */
* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.section-title {
  font-size: 2.813rem;
  font-weight: 700;
  color: #0b0223;
}

.btn-primary {
  border-radius: 48px;
  background: #ff42a5;
  border: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: white;
  padding: 18px 32px;
  margin-top: 13px;
}

#go-btn {
  border-radius: 48px;
  background: #4ec5f7;
  border: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: white;
  padding: 18px 32px;
  margin-left: 12px;
}

/* Header Related Styles */
header {
  background-color: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 44px;
  padding-left: 10%;
  padding-right: 10%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}

nav li a {
  text-decoration: none;
  color: #424242;
}

.follow-btn {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  border: none;
  padding: 15px 24px;
  margin: -10px;
}

.section-g {
  color: #ff42a5;
}

/* Banner Related Styles */
.banner-title {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 600;
}
.banner-info {
  margin-bottom: 10px;
}
.goat-title {
  background: -webkit-linear-gradient(#f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5.938rem;
  font-style: normal;
  font-weight: 800;
}

.banner {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.banner-content {
  background: url(../images/Group\ 14.png);
}

.banner-content,
.banner-img {
  width: 100%;
  padding: 20px;
}

.banner-img img {
  width: 100%;
}
/* Online Games Section */

.online-games {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.online-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #0b0223;
}

.funny-vids {
  background: -webkit-linear-gradient(#f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-weight: 700;
}

.games-card-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  /* transform: translate(-50%, -50%); */
}

.games-card img {
  width: 250px;
}

figcaption {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: black;
  cursor: pointer !important;
} */
/* Play Section */
.play-description {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
}
.play-banner {
  margin-top: 40px;
  display: flex !important;
  /* border: #f948b2 2px solid; */
  padding: 30px 30px 0px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.play-banner-content {
  /* border: 2px solid #f948b2; */
  margin-bottom: 80px;
  margin-left: 100px;
}
.play-banner-title {
  text-align: center !important;
}
.play-banner-description {
  color: #534c64;
  text-align: right;
  text-overflow: clip;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.anneyversary-img img {
  width: 80%;
}
.cat-img img {
  width: 30%;
  position: relative;
  bottom: 100px;
  right: 80px;
}
/* Resposive Styles */
/* Bellow here will go all the responsive styles.
Primarily targetted devices are mobile phone & tablets. */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav ul {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .follow-btn {
    margin-top: 20px;
  }
  .banner {
    flex-direction: column-reverse;
  }

  .banner-content,
  .banner-img {
    padding: 20px;
  }

  .banner-img {
    width: 100%;
  }

  .banner-content {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .banner-title {
    color: #0b0223;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 600;
  }
  .banner-info {
    margin-bottom: 10px;
    font-size: 0.5rem;
  }

  .goat-title {
    background: -webkit-linear-gradient(#f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
  }
  .btn-primary {
    border-radius: 48px;
    background: #ff42a5;
    border: 0;
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 700;
    color: white;
    padding: 10px 15px;
  }
  #go-btn {
    border-radius: 48px;
    background: #4ec5f7;
    border: 0;
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 700;
    color: white;
    padding: 10px 15px;
  }
  .online-description {
    margin-bottom: 40px;
  }
  .games-card-container {
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    /* transform: translate(-50%, -50%); */
  }

  .games-card img {
    width: 250px;
  }
  figcaption {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
/* For Tablet and medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  nav ul {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .follow-btn {
    margin-top: 20px;
  }
}
